.inputStyle {
    /* box-sizing: border-box; */
    border: #000000 2px solid;
    top: 100px;
    left: 30px;

    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 16px;
    gap: 8px;

    width: 200px;
    height: 50px;

    /* Neutral/Neutral 100 */
    /* background: #FFFFFF; */

    /* Neutral/Neutral 500 */
    border: 1px solid #D0D4DF;
    border-radius: 4px;

    /* Inside auto layout */
    /* flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0; */
}

.qrButton {
    display: flex;
    flex-direction: row;
    width: 400px;
    top : 500px;
}